.column {
    float: left;
    width: 25%;
    margin-top: 5%;
    margin-bottom: 40%
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* background-color: brown; */

    /* background-color: brown; */
    margin-bottom: 5%;
  }
  .img1{
    margin-bottom: 10%;
    margin-top: 23%;
    mix-blend-mode: multiply;

    /* mix-blend-mode:color-burn; */
    /* filter: contrast(1); */
  }
  .img4{
    margin-top: 24%;
    mix-blend-mode: multiply;

  }
  .img2{
    margin-top: 24%;
    mix-blend-mode: multiply;

    margin-bottom: 10%;
  }
  .img3{
    margin-top: 24%;
    margin-bottom: 17%;
    mix-blend-mode: multiply;

  }
  .card1{
    margin-bottom: 5%;
  }
  .row{
    background-image: url('/public/bg.jpg');
    /* height: auto; */
  }
  .hide-bg{
    /* mix-blend-mode: multiply;
    filter: contrast(0); */
  }
  .tabname{
    padding: 2px;
  }