.inputfield label {
    margin-left: 5%;
    font-style:italic;
    /* margin-right: 15%; */
}
.inputfield .name{
    margin-left: 10%;
}
.inputfield .material{
    margin-left: 7%;
}
.inputfield .link{
    margin-left: 11%;
}
.savebuttontoolkit{
    box-shadow: 0 0 5px 2px rgba(31, 73, 125, 0.8);
    margin-left: 22%;
    margin-top: 1%;
}
.boxcontainer{
        display: flex;
        margin-left: 30%;
        margin-right: 30%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        justify-content: center;
        margin-bottom: 10%;
        /* background-color: white; */
        /* background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); */
    }

.boxcontain{
    /* margin: 10%; */
}
.skillbutton{
    /* margin: 10%;
     */
     /* justify-content: center; */
     margin-top: 12%;
     margin-left: 70%;
}

.wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }
  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
  }
  form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  form .input-box select {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  form .input-box-coach select {
    height: 100%;
    width: auto;
    outline: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .slotdate {
    height: 100%;
    width: auto;
    outline: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  form .input-box-coach{
    display: flex;
    justify-content: space-evenly;
  }
  /* form .input-box-coach input {
    height: 100%;
    width: 25%;
    outline: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  } */
  .sidedrop .input-box select {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  form .input-box textarea {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .input-box input:focus,
  .input-box input:valid{
    border-color: #4070f4;
  }
  .input-box textarea:focus,
  .input-box textarea:valid{
    border-color: #4070f4;
  }
  .input-box select:focus,
  .input-box select:valid{
    border-color: #4070f4;
    -webkit-appearance: none;
  }
  form .policy{
    display: flex;
    align-items: center;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #0e4bf1;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #4070f4;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }
.newbody{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    
     /* background: #17141d; */
     /* background-color: #17141d; */
  }
  .newsize{
    min-height: 70vh;
  }
  .reqsize{
    min-height: 120vh;
  }